<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>User page!</h1>

<table border="1">
    <tr>

        <th>id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>age</th>
        <th>username</th>
        <th>password</th>
        <th>role</th>
    </tr>

    <tr>

        <td th:utext="${user.id}"></td>
        <td th:utext="${user.firstName}"></td>
        <td th:utext="${user.lastName}"></td>
        <td th:utext="${user.age}"></td>
        <td th:utext="${user.username}"></td>
        <td th:utext="${user.password}">
        <td th:utext="${user.getAuthorities()}">

    </tr>

</table>

<form method="get" th:action="@{'/logout'}">
    <button type="submit">logout</button>
</form>


</body>
</html>