<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>

<div class="constant-values-container">

    <div class="row">

        <div class="p-3 mb-2 bg-dark text-white">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <form method="get" th:action="@{'/logout'}">
                    <button type="submit" class="btn btn-dark">logout</button>
                </form>
            </div>
            <span th:utext="${user.getMail()}"></span>
            <span> with roles: <span th:utext="${user.getRoles()}"></span></span>
        </div>
    </div>

    <div class="d-flex align-items-start">

        <div class="col-2">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#user"
                        type="submit" role="tab" aria-controls="v-pills-profile" aria-selected="true">User
                </button>

            </div>
        </div>

        <div class="w-100 p-3" style="background-color: #eee;">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h1> User information-page </h1>

                    <div class="row-fluid px-3 py-2 border-bottom">
                        <h5>About user</h5>
                    </div>
                    <div class="row-fluid bg-white">
                        <div class="col p-4">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>

                                <td th:utext="${user.id}"></td>
                                <td th:utext="${user.firstName}"></td>
                                <td th:utext="${user.lastName}"></td>
                                <td th:utext="${user.age}"></td>
                                <td th:utext="${user.getMail()}"></td>
                                <td th:utext="${user.getAuthorities()}">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>


</body>

</html>